.icon-arrow {
    width: 40px;
    height: 40px;
    text-align: right;
    border-radius: 40px;
    cursor: pointer;
}
.icon-note {
    width: 30px;
    height: 15px;
}
.font-note {
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 15px;
}
.check-icon {
    width: 20px;
    height: 20px;
}
.title-heading {
    font-size: 18px;
}

.opacity-3{
    opacity: 0.3;
}

.lh27 {
    line-height: 27px;
}
.change-status {
    background: '#352E3E';
    border: 1px solid #2d9cdb;
}

.w-100px {
    width: 100px;
}

.modal-content {
    background: #142D45;
    color: #fff;
    border-radius: 10px;
    .modal-title {
        font-size: 24px;
        font-weight: normal;
        .close-modal {
            position: absolute;
            right: 30px;
            top: 18px;
        }
    }
    .modal-body {
        font-size: 16px;
        padding: 1.5em;
    }
}

.reset-input {
    background: none;
    border: none;
    &:focus {
        border: none;
        background: none;
        outline: none;
        color: #fff;
        box-shadow: none;
    }
}
.icon-arrow-modal {
    width: 40px;
    height: 40px;
    text-align: right;
    border-radius: 40px;
}

.outline-0:focus {
    box-shadow: none;
}

.hover-drop:hover {
    background: #3f4260;
    color: white;
}

.rs-status {
    border: 0;
    padding: 10px 20px;
}
.title-dash {
    padding-left: 20px;
}

.rs-border-top {
    list-style: none;
    border-top: 1px solid #2d9cdb;
    &:first-child {
        border-top: unset;
    }
}

.rs-border-bottom {
    border-bottom: 2px solid #2d9cdb;
}

.rs-box-shadow {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.list-table li:nth-child(even) {
    background: #142D45;
}
.list-table {
    min-height: 150px;
}


// .swiper-container {
//     height: 155px;
//     .swiper-wrapper {
//         align-items: center;
//         padding-bottom: 13px;
//     }
//     .bgr-default {
//         background-repeat: no-repeat;
//         width: 100%;
//         height: 120px;
//     }
//     .content-slider {
//         top: 50%;
//         transform: translateY(-50%);
//         left: 0;
//         right: 0;
//     }
//     .swiper-slide {
//         &-active {
//             width: 100%;
//             background-repeat: no-repeat;
//         }
//         .wrapper-content-slider {
//             font-size: 12px;
//         }
//     }
// }

.fs-table {
    font-size: 13px;
}

.cse-table-column-title{
    color: #9FA0AF;
    font-weight: 500;
}

.custom-cse-slider-item-active{
    position: relative;
    color: #FFFFFF;
    .coin-name{
        position: absolute;
        left: 10%;
        top: 22.16%;
        font-weight: 600;
        font-size: 48px;
        line-height: 57px;
        letter-spacing: 0.16em;
    }
    .coin-total{
        position: absolute;
        left: 10%;
        top: 60%;
        font-size: 36px;
        line-height: 43px;
    }
    .coin-price{
        position: absolute;
        left: 10%;
        top: 77%;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
        opacity: 0.5;
    }
}

.custom-cse-slider-item-inactive{
    position: relative;
    font-family: San Francisco Display;
    .coin-name{
        position: absolute;
        left: 10%;
        top: 24%;
        font-weight: 600;
        font-size: 40px;
        line-height: 48px;
        color: #34AEC3;
        opacity: 0.4;
    }
    .coin-total{
        position: absolute;
        left: 10%;
        top: 65%;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #34AEC3;
        opacity: 0.4;
    }
    .coin-price{
        position: absolute;
        left: 10%;
        top: 80%;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #34AEC3;
        opacity: 0.2;
    }
}

.swiper-slide-prev .wrapper-content-slider {
    justify-content: left;
    align-items: center;
    display: flex;
}
.swiper-slide-next .wrapper-content-slider {
    justify-content: flex-end;
    align-items: center;
    display: flex;
}
.swiper-slide-active .wrapper-content-slider {
    justify-content: center;
    align-items: center;
    display: flex;
}

.cse-navbar-mobile-title{
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.bgr-avatar{
    .mx-auto{
        .user-name{
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #FFFFFF;
        }
        .user-gmail{
            font-weight: 300;
            font-size: 12px;
            line-height: 14px;
            color: #FFFFFF;
            opacity: 0.5;
        }
    }
}

.chart{
    .gl-custom-border{
        margin: 26px !important;
    }   
}

.overflow-scroll-hidden{
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: hidden;
}

.history-table-loading{
    position: absolute;
    left: 50%;
    top: 40%;
    .fas{
        color : #50BFC3;
    }
}

.cse-mobile-history-table-row{
    .transaction-type{
        width : 20px;
        height: 20px;
    }
    .from-address{
        @extend .overflow-scroll-hidden;
    }
    .transaction-time{
        font-size: 12px;
        line-height: 14px;
        color: #FFFFFF;
        opacity: 0.5;
    }
    .coin-and-amount{
        font-size: 12px;
        color: #3CC1C5;
        padding-top: 15px;
    }
    .amount{
        max-width: 50px;
        @extend .overflow-scroll-hidden;
    }
}


.cse-history-table-row{
    .transaction-type{
        width : 20px;
        height: 20px
;    }
}

.hisotry-paging{
    &-content{
        font-size: 16px;
        line-height: 19px;
    }
}
.paging-icon{
    width : 15px;
}

.flex-end{
    justify-content: flex-end;
}

.rorate-left{
    transform: rotate(90deg);
}
.rorate-right{
    transform: rotate(-90deg);
}

@media (min-width: 426px) {
    // .swiper-container {
    //     height: 160px;
    //     .content-slider {
    //         top: 50%;
    //         transform: translateY(-50%);
    //     }
    //     .swiper-slide {
    //         &-active {
    //             height: 100%;
    //         }
    //         .wrapper-content-slider {
    //             height: 100% !important;
    //             font-size: 12px;
    //         }
    //     }
    // }

}

@media (max-width :768px){
    .menu.active{
        .position-fixed.col-lg-2{
            width: 250px;
        }
    }
    .custom-cse-slider-item-active{
        .coin-name{
            top: 30%;
            font-size: 36px;
        }
        .coin-total{
            top: 50%;
            font-size: 24px;
            line-height: 43px;
        }
        .coin-price{
            top: 63%;
            font-size: 18px;
        }
    }

    .custom-cse-slider-item-inactive{
        .coin-name{
            top: 30%;
            font-size: 34px;
        }
        .coin-total{
            top: 50%;
            font-size: 22px;
            line-height: 43px;
        }
        .coin-price{
            top: 65%;
            font-size: 16px;
        }
    }
    .gl-table-bg{
        background : none;
        box-shadow : none;
        .list-table{
            background : none;
            .rs-border-top{
                border : 0px;
                background : none;
            }
        }
    }
}

@media (min-width: 768px) {
    .icon-arrow {
        width: 50px;
        height: 50px;
        text-align: right;
        border-radius: 50px;
        cursor: pointer;
    }
    .icon-note {
        width: 24px;
        height: 19px;
    }
    .font-note {
        font-size: 15px;
    }
    .check-icon {
        width: unset;
        height: unset;
    }
    // .swiper-container {
    //     height: 170px;
    //     .content-slider {
    //         top: 50%;
    //         transform: translateY(-50%);
    //     }
    //     .bgr-default {
    //         height: 150px;
    //     }
    //     .swiper-slide {
    //         &-active {
    //             height: 100%;
    //         }
    //         .wrapper-content-slider {
    //             font-size: 14px;
    //         }
    //     }
    // }
}
@media (min-width: 992px) {
    .rs-border-top {
        border-top: unset;
        border-radius: 20px;
        &:nth-child(even) {
            background: #312E44;
        }
    }
    //  .swiper-container {
    //     .bgr-default {
    //         height: 170px;
    //     }
    // }
}
@media (min-width: 1200px) {
    .icon-note {
        width: 24px;
        height: 24px;
    }
    // .swiper-container {
    //     height: auto;
    //     .content-slider {
    //         top: 50%;
    //         transform: translateY(-50%);
    //     }
    //     .bgr-default {
    //         height: 200px;
    //         background-repeat: no-repeat;
    //     }
    //     .swiper-slide {
    //         &-active {
    //             width: 100%;
    //             background-repeat: no-repeat;
    //         }
    //         .wrapper-content-slider {
    //             font-size: 16px;
    //         }
    //     }
    // }
}

@media (min-width: 1440px) {
    // .swiper-container {
    //     .content-slider {
    //         top: 50%;
    //         transform: translateY(-50%);
    //     }
    //     .bgr-default {
    //         height: 260px;
    //         background-size: contain;
    //     }
    //     .swiper-slide {
    //         &-active {
    //             background-size: contain;
    //         }
    //     }
    // }
    .fs-table {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .modal-dialog {
        margin: 20px;
    }
    .modal-content {
        font-size: 14px;
        .modal-title {
            font-size: 16px;
        }
        .modal-body {
            font-size: 14px;
        }
    }
    .menu-left-mobile{
        .bgr-special{
            background: #142D45 !important;
        }
        .menu-items{
            .sidebar__active-menu{
                .icon-menu{
                    width: 32px;
                    height: 32px;
                }
                .content{
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    color: #3AACDD;
                }
            }
            .sidebar__menu{
                padding-left : 25px!important;
                .icon-menu{
                    width: 32px;
                    height: 32px;
                }
                .content{
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    color: #FFFFFF;
                }
            }
        }
    }
}