body {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.login, .verify-email {
    .logo {
        display: none;
    }
    &__form {
        .title-mobile {
            display: none;
        }
        .login-input {
            border-radius: 10px;
            background: #214D72;
        }
        .gl-form-title {
            font-size: 16px;
            color: rgba(255, 255, 255, 0.5);
            margin: 16px 0 8px;
        }
        .arrow-faw {
            line-height: 50px;
            display: block;
            text-align: center;
        }
        .bgr-login {
            background-image: url('./images-asset/login.jpg');
            background-size: cover;
            height: 100vh;
            background-repeat: no-repeat;
        }
        .max-width-400 {
            max-width: 400px;
        }
        .pl-80 {
            padding-left: 80px;
        }
        .pt-forgot {
            padding-top: 40px;
        }
    }
}

.img-hambeger {
    top: 16px;
    cursor: pointer;
    width: 35px;
}
.px-30 {
    padding-left: 40px;
    padding-right: 40px;
}

@media (max-width: 768px) {
    .login {
        &__form {
            .shadow-pd-login{
                padding: 7px 20px;
            }
            .pl-80 {
                padding-left: 0;
            }
        }
    }
    .px-30 {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (max-width: 992px) {

}
@media (max-width: 1200px) {

}

@media (max-width: 768px) {
    .login, .verify-email {
        &__form {
            display: flex;
        }
        .login-input {
            border-radius: 27px;
        }
        .login-title {
            text-align: left !important;
            .title-desktop {
                display: none;
            }
            .title-mobile {
                display: block;
            }
        }
        .gl-btn-auth {
            max-width: 200px !important;
        }
        .max-width-400 {
            padding: 1.5rem;
        }
    }
    .verify-email {
        .text-54 {
            font-size:35px !important;
        }
        .logo {
            display: block;
            padding-bottom: 3.5rem;
        }
        .login-title {
            text-align: center !important;
            .title-desktop {
                display: none;
            }
            .title-mobile {
                display: block;
            }
        }
    }
}