.post-info {
    &__content {
        background: #1D3752;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        .send-info {
            max-width: 600px;
            margin: 0 auto;
        }
        .btn-send {
            width: auto;
        }
    }
    &__receive {
        background: #39364c;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
        .receive-info {
            margin: 0 auto;
            max-width: 600px;
        }
        .spacing-qrcode {
            padding-bottom: 20px;
            padding-top: 20px;
        }
        .qrcode {
            width: 200px;
            height: 200px;
        }
    }
}
.drop-selector {
    transition: 0.3s all;
    display: none;
}
.selector-coin:hover {
    color: #3f4260;
    font-weight: bold;
}
.title-info {
    font-size: 15px;
    text-align: left;
}
@media (min-width: 767px) {
    .post-info {
        &__receive {
            min-height: 700px;
            .spacing-qrcode {
                padding-bottom: 40px;
            }
            .qrcode {
                width: 302px;
                height: 302px;
            }
        }
    }
}
