.setting {
    &__sidebar {
        .subSidebar {
            background: #3B3B54;
            box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.25);
        }
    }
    &__content {
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
        background: rgb(16, 36, 55);
        min-height: 750px;
        label {
            margin-bottom: 0;
        }
        .bgr-blue.active {
            background: #1D3752!important;
            border-radius: 10px 10px 0 0 !important;
            border-bottom: 2px solid #50BFC3;
            transition: 0.3s;
        }
        .bgr-blue.active::after {
            position: absolute;
            top: 124px;
            left: 0;
            content: '';
            width: 100%;
            height: 4px;
            background: #50BFC3;
            box-shadow: 0 4px 10px rgba(117,255,230,.05);
            border-top-left-radius: 40px;
            border-top-right-radius: 40px;
        }

        .mw-400 {
            max-width: 400px;
        }
        .my-40 {
            margin-top: 40px;
            margin-bottom: 40px;
        }
        .circle {
            width: 94px;
            height: 94px;
            border-radius: 94px;
            background: linear-gradient(180deg, rgba(117, 255, 230, 0.82) 0%, #2D9CDB 99.48%);
        }
    }
    &__tab {
        max-height: 128px;
        padding: 2rem!important;
    }
    &__tab-content {
        background-color: #1D3752;
        min-height: calc(100vh - 292px);
    }
}

.input-account-setting {
    border: none;
    outline: none;
}
.input-account-setting:focus {
    box-shadow: none;
    background: none;
    border: 1px solid gray;
}

.input-account-setting::placeholder {
    text-align: center;
}

.collapse-menu-mobile {
    display: none;
}

.text-copy-success {
    font-size: 12px;
    color: #34aec3!important;
    height: 14px;
}

.profile-info-avatar {
    max-width: 140px;
    svg.edit-icon {
        position: absolute;
        top: -4px;
        left: 83px;
    }
    .circle {
        border: 1px solid #ffffff;
    }
    img {
        border-radius: 50%;
    }
    i.fa-spinner {
        position: absolute;
        top: 40%;
        left: 50px;
        font-size: 24px;
        animation-name: spin;
        animation-duration: 1000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear; 
    }
}

.account {
    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .warning {
            display: flex;
        }
        button {
            max-width: 250px;
        }
    }
    &__qr-code-container {
        background: #ffffff;
        border-radius: 10px;
        padding: 5px
    }
    &__waiting-popup-content {
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        i.fa-spinner {
            font-size: 54px;
            color: #34aec3;
            animation-name: spin;
            animation-duration: 1000ms;
            animation-iteration-count: infinite;
            animation-timing-function: linear; 
        }
    }
    &__controls {
        .control-icon {
            display: flex;
            min-width: 65px;
            .img-container {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #fff;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                img {
                    width: 44px;
                    height: 44px;
                }
            }
        }
    }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@media (max-width: 768px) {
    .setting__tab-content {
        min-height: unset;
    }
    .bgr-blue.active::after {
        background: transparent !important;
        width: 0 !important;
        height: 0 !important;
    }
    .account__footer {
        flex-direction: column;
        svg {
            min-width: 20px;
        }
        button {
            order: 1;
        }
    }
    .account__popup-footer {
        flex-direction: column;
    }

    .account__controls {
        .control-icon {
            min-width: 50px;
            .img-container {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                img {
                    width: 37px;
                    height: 37px;
                }
            }
            svg {
                width: 40px;
            }
        }
    }

    .agreement {
        font-size: 13px !important;
    }
    .collapse-menu-mobile {
        display: block;
        margin: 10px 20px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
        .collapse-line {
            width: 100%;
            border-bottom: 2px solid #50BFC3;
        }
        .collapse-button-tab {
            &:first-child {
                border-radius: 10px 10px 0px 0px;
            }
            display: flex;
            align-items: center;
            background: rgb(16, 36, 55);
            min-height: 60px;
            padding: 1rem;
        }
    }
}