@font-face {
    font-family: 'icomoon';
    src:  url('/client-asset/fonts/icomoon.eot?wivkk8');
    src:  url('/client-asset/fonts/icomoon.eot?wivkk8#iefix') format('embedded-opentype'),
        url('/client-asset/fonts/icomoon.ttf?wivkk8') format('truetype'),
        url('/client-asset/fonts/icomoon.woff?wivkk8') format('woff'),
        url('/client-asset/fonts/icomoon.svg?wivkk8#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Manrope:200,300,400,500,600,700,800&display=swap');

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Manrope', sans-serif;
}