.shadow-pd-button{
    // box-shadow: 0px 0px 20px rgba(117, 255, 230, 0.2);
    border-radius: 25px;
    padding: 10px 30px;
}
.btn {
	border-radius: 25px;
}

@media (max-width: 768px) {
    .shadow-pd-button{
        padding: 7px 30px;
    }
}