.btn-primary-custom {
    border: none;
    color: #fff;
    background: #50BFC3;
    min-width: 200px;
    min-height: 52px;
    &:hover {
        outline: 0;
        box-shadow: 0px 5px 20px rgba(117, 255, 230, 0.6);
    }
    &:disabled {
        border: none;
        outline: 0;
        box-shadow: none;
        background: #214D72;
        opacity: 1 !important;
    }
}

.btn-secondary-custom {
    border: none;
    color: #fff;
    background: #1D3752;
    min-height: 48px;
    min-width: 200px;
    &:hover {
        outline: 0;
        box-shadow: 0px 0px 20px rgba(117, 255, 230, 0.2);
    }
    &:disabled {
        border: none;
        outline: 0;
        box-shadow: none;
        background: #25243A;
        opacity: 1 !important;
    }
}

.btn:focus {
    outline: 0;
    box-shadow: none !important;
}

.setting-submit-btn {
    text-align: left;
    button { max-width: 250px; }
}


.btn-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media (max-width: 768px) {
    .setting-submit-btn {
        text-align: left;
        button { max-width: 100%; }
    }
    .btn-primary-custom {
        min-height: 50px;
    }
}