.checkbox-round {
    position: relative;
    width: 25px;
    height: 25px;
}

.checkbox-round label {
    background-color: transparent;
    border: 1px solid #34AEC3;
    border-radius: 50%;
    cursor: pointer;
    height: 25px;
    left: 0;
    position: absolute;
    top: 0;
    width: 25px;
}

.checkbox-round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 6px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
}

.checkbox-round input[type="checkbox"] {
    visibility: hidden;
}

.checkbox-round input[type="checkbox"]:checked+label {
    background-color: #34AEC3;
    border-color: #34AEC3;
}

.checkbox-round input[type="checkbox"]:checked+label:after {
    opacity: 1;
}


@media (max-width: 768px) {
    .checkbox-round {
        width: 20px;
        height: 20px;
    }
    .checkbox-round label {
        height: 20px;
        width: 20px;
    }
    
    .checkbox-round label:after {
        left: 4px;
        top: 6px;
    }
}