.dropdown-custom {
    button.dropdown-toggle{
        background-color: #1D3752 !important;
        border: none;
        border-radius: 27px;
        min-width: 180px;
        height: 48px;
        &:hover {
            box-shadow: none;
        }
        &::after {
            position: absolute;
            right: 16px;
            top: 22px;
            border-top: .5em solid #50BFC3;
            border-right: .5em solid transparent;
            border-bottom: 0;
            border-left: .5em solid transparent;
        }
    }
    .dropdown-menu {
        border-radius: 10px;
        background: #1D3752;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.10);
    }
    .dropdown-item {
        color: white;
        padding: 10px;
        display: flex;
        justify-content: center;
        &:hover {
            background: #50BFC3;
        }
    }
}