.cse {
    &__header {
        padding: unset !important;
        top: 0;
        box-shadow: 0 4px 2px -2px black;
        a {
            text-decoration: none !important;
        }
        .header-form {
            div {
                padding-right: unset !important;
            }
        }
    }
}