/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.input-icon {
    display: flex;
    position: relative;
    svg {
        position: absolute;
        top: 15px;
        right: 12px;
        display: none;
    }
    &.password-input {
        svg {
            display: flex;
        }
    }
}

.code-input {
    display: flex;
    justify-content: center;
    .form-control {
        border-radius: 0;
        background: transparent;
        border: none;
        color: #fff;
        text-align: center;
        font-size: 24px;
        width: 100% !important;
    }

    > div {
        width: 80%;
    }
    
    > div > div:nth-child(3) {
        margin-right: 20px;
    }
    input {
        margin: 2px;
    }
    input:invalid {
        border-bottom: 2px solid #50bfc37a;
    }
    input:valid {
        border-bottom: 2px solid #50BFC3 !important;
    }
}

.box-shadow-inside {
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25);
}

@media (max-width: 768px) {
    .input-icon {
        svg {
            display: block;
        }
    }
    .code-input {
        .form-control {
            font-size: 18px;
            padding: 0 !important;
        }
    }
}