.menu .position-fixed {
    z-index: 5;
    transition: .3s all;
    left: -100%;
    right: 100%;
}

.menu.active .position-fixed {
    left: 0;
    top: 0;
    right: 0;
    // overflow: scroll;
    z-index: 999;
}

.active-sidebar {
    width: 20%;
    margin: 0 auto;
    height: 3px;
}
.py-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}
@media (min-width: 992px) {
    .menu .position-fixed {
        top: 0;
        left: 0;
        right: 0;
        z-index: unset;
    }
    .active-sidebar {
        width: 40%;
        margin: 0 auto;
        height: 3px;
    }
}