.sidebar {
    &__avatar {
        .avatar {
            width: 90px;
            height: 90px;
            border-radius: 50%;
            border: 2px solid  #FFFFFF;
        }
    }
    &__menu {
        display: flex;
        align-items: center;
        min-width: 180px;
        margin: 0 auto;
        .icon-menu {
            width: 20px;
            height: 20px;
        }
    }
    &__active-menu .select-item-svg {
        display: none;
    }

    &__active-menu{
        // .content{
        //     color : #3AACDD !important;
        // }
        opacity: 1;
        font-weight: 500;
        background: rgba(73, 183, 187, 0.2);
        position: relative;
        // color: #3AACDD !important;
        .select-item-svg {
            position: absolute;
            right: 0;top: 50%;
            transform: translateY(-50%);
            display: block;
        }
    }
    &__slogan{
        font-family: Bebas Neue;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 58px;
        letter-spacing: 0.325em;
        color: #FFFFFF;
    }
}

.sidebar-min {
    .sidebar__menu{
        padding-top: 5px;
        .content{
            margin-left : 0px !important;
            padding-left : 0px !important;
            padding-right : 0px !important;
            text-allign : center;
            color: #FFFFFF;
        }
    }
}

// common

@media (min-width: 992px) {
    .sidebar__menu {
        min-width: unset;
        margin: 0;
        .icon-menu {
            width: 30px;
            height: 30px;
        }
    }
    .sidebar-min {
        .sidebar {
            &__logo, &__menu {
                flex-direction: column;
            }
            &__slogan {
                display: none;
            }
            &__menu {
                .content {
                    display: none;
                }
            }
        }
        &-btn {
            position: absolute;
            z-index: 99;
            left: 100%;
            top: 0;
            background: #50BFC3;
            border-radius: 0px 10px 10px 0px;
            cursor: pointer;
        }
    }
    .sidebar__menu-item{
        padding: 1.5rem;
    }
    // .sidebar__active-menu {
    //     opacity: 1;
    //     font-weight: 500;
    //     background: #3d5874;
    //     position: relative;
    //     color: #3AACDD;
    //     .select-item-svg {
    //         position: absolute;
    //         right: 0;top: 50%;
    //         transform: translateY(-50%);
    //         display: block;
    //     }
    // }
}
@media (max-width: 1199px) {
    .sidebar__slogan {
        font-size: 35px;
    }
    .sidebar__menu-item{
        padding: 1.2rem;
    }
}


.logout-icon {
    display: none;
}
@media (max-width: 768px) {
    .logout-icon {
        display: block;
        margin-bottom: 12vh;
    }
    .sidebar__menu-item{
        padding: .7rem !important;
    }
}