.slider {
    &__card {
        .card-pay {
            transition: all 0.5s;
            .card-content {
                top: 50%;
                text-align: center;
                left: 0;
                right: 0;
                bottom: 0;
                transform: translateY(-25%);
            }
        }
        .card-pay.active {
            transform: scale(1.1);
        }
    }
}
