.swiper-card-container {
    display: flex;
    align-items: center;
    width: 390px;
    height: 230px;
    background: #FBFDFF;
    border-radius: 14px;
    opacity: 0.8;
    position: relative;
    overflow: hidden;
    .eclipse {
        position: absolute;
        top: -32px;
        left: 267px;
        width: 154px;
        height: 154px;
        border-radius: 50%;
        background: #FFFFFF;
        opacity: 0.3;
        box-shadow: 0 0 14px 0px #00000054;
    }
    .card-icon {
        position: absolute;
        width: 68px;
        height: 68px;
        top: 24px;
        right: 20px;
        svg {
            width: 100%
        }
        svg path {
            fill: #34AEC3;
            &.should-fill {
                opacity: 0.4;
            }
        }
    }
    .currency-container {
        display: flex;
        padding: 30px;
        flex-direction: column;
    }
    .currency-name {
        font-family: Bebas Neue;
        font-weight: 500;
        font-size: 40px;
        line-height: 40px;
        color: #50BFC3;
    }
    .currency-value {
        margin-top: 30px;
        .value {
            font-family: Manrope;
            font-weight: 500;
            font-size: 24px;
            color: #50bfc3;
            margin-bottom: 0px;
        }
        .sub-value {
            font-family: Manrope;
            font-weight: 500;
            font-size: 18px;
            line-height: 33px;
            color: #50bfc3;
            opacity: 0.5;
        }
    }
}

.swiper-container {
    .swiper-slide-shadow-left, .swiper-slide-shadow-right {
        opacity: 0 !important;
    }
    .swiper-wrapper {
        display: flex;
        align-items: center;
    }
    .swiper-slide {
        width: 480px;
        display: flex;
        justify-content: center;
    }
    .swiper-slide-active {
        .swiper-card-container {
            opacity: 1 !important;
            width: 440px;
            height: 261px;
            background: linear-gradient(357.03deg, #24BEC4 -17.44%, rgba(192, 221, 250, 0.271295) 36.06%), #50BFC3;
            border-radius: 14px;
            .eclipse {
                top: -50px;
                left: 278px;
                width: 217px;
                height: 217px;
            }
            .card-icon {
                position: absolute;
                top: 43px;
                right: 28px;
                width: 80px;
                height: 80px;
                svg {
                    width: 100%
                }
                svg path {
                    fill: #ffffff;
                    &.should-fill {
                        opacity: 1;
                    }
                }
            }
            .currency-name {
                font-family: Bebas Neue;
                font-weight: 500;
                font-size: 60px;
                line-height: 60px;
                letter-spacing: 3px;
                color: #ffffff;
                opacity: 1;
            }
            .currency-value {
                .value {
                    font-family: Manrope;
                    font-weight: 500;
                    font-size: 36px;
                    color: #ffffff;
                    margin-bottom:5px;
                }
                .sub-value {
                    color: #ffffff;
                    font-family: Manrope;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 33px;
                    opacity: 0.5;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .swiper-slide {
        width: 320px !important;
    }
    .swiper-card-container {
        width: 286px !important;
        height: 175px !important;
        .eclipse {
            top: -35px !important;
            left: 181px !important;
            width: 140px !important;
            height: 140px !important;
        }
        .card-icon {
            position: absolute;
            width: 50px !important;
            height: 50px !important;
            top: 15px !important;
            right: 15px !important;
            svg {
                width: 100%
            }      
        }
        .currency-name {
            font-size: 42px !important;
            color: #34AEC3;
            opacity: 0.4;
            font-weight: bold;
            letter-spacing: 3px !important;
        }
        .currency-value {
            margin-top: 0px;
            .value {
                font-size: 24px !important;
                opacity: 1 !important;
                margin: 0 !important;
            }
            .sub-value {
                font-size: 18px !important;
                opacity: 0.5 !important;
                margin: 0 !important;
            }
        }
    }
}