.switch {
    position: relative;
    display: inline-block;
    width: 160px;
    height: 39px;
}
.turn-switch {
    border: 1px solid #50BFC3;
    border-radius: 50px;
    cursor: pointer;
    height: 100%;
}

.button-modal {
    background-color: #50BFC3;
    width: 94px;
    line-height: 40px;
    border-radius: 18px;
    text-align: center;
    transition: .5s all;
    position: absolute;
    cursor: pointer;
}
.switch.active .button-modal {
    right: 0;
}


.switch-options {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.custom-slider-off {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #B4DCDA;
    transition: all 0.15s ease-in-out;
}

.custom-slider-off:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #FFFFFF;
    transition: all 0.15s ease-in-out;
}

.custom-slider-on {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #50BFC3;
    transition: all 0.15s ease-in-out;
}

.custom-slider-on:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    margin-left: 26px;
    bottom: 4px;
    background-color: #FFFFFF;
    transition: all 0.15s ease-in-out;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@media (max-width: 768px) {
    .switch-options {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 22px;
    }
    .custom-slider-off:before {
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        left: 2px;
        bottom: 2px;
        background-color: #FFFFFF;
        transition: all 0.15s ease-in-out;
    }
    .custom-slider-on:before {
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        left: 2px;
        margin-left: 18px;
        bottom: 2px;
        background-color: #FFFFFF;
        transition: all 0.15s ease-in-out;
    }
}