/*
    ** common
    1. size
    2. border
    3. font-size
    4. background
    5. color
*/

// common
a {
    text-decoration: none !important;
    color: #fff;
}

input, .form-dropdown {
    height: 50px !important;
}

.pt-header {
    padding-top: 65px!important;
}

.flex-col {
    flex-direction: column;
}

.gl-btn-40 {
    line-height: 40px;
    height: 40px;
    width: 40px;
    text-align: center;
    background: #142D45;
    border-radius: 20px;
    margin: 0 10px;
    cursor: pointer;
    &.active, &:hover {
        background: #34AEC3;
    }
    &.special {
        background: unset;
        line-height: unset;
        width: unset;
        height: unset;
        border-radius: unset;
    }
}

.gl-table-bg {
    background: #1D3752;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.text-bold {
    font-weight: 700;
}

.translate-3 {
    transition: 0.3s;
}

.h-0 {
    height: 0;
}
.zIndex10 {
    z-index: 10;
}
.font-bebas {
    font-family: 'Bebas Neue', cursive;
}

.h-fit {
    height: fit-content;
}

.opacity-5 {
    opacity: 0.5;
}

.overflow-scroll {
    overflow: scroll;
}

.f-fml {
    font-family: 'Bebas Neue';
}

#__next {
    // height: 100vh;
    // overflow-y: auto;
    // overflow-x: hidden;
}

.active-url {
    border-bottom: 2px solid #2d9cdb;
    width: 70%;
}

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

.opacity-dot6 {
    opacity: 0.6;
}
/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #2d9cdb;
}

.scoll-x {
    overflow-x: auto;
}

.outline-0 {
    outline: 0;
}

.cusor-pointer {
    cursor: pointer;
}

.px-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.px-55 {
    padding-left: 55px;
    padding-right: 55px;
}

.px-70 {
    padding-left: 70px;
    padding-right: 70px;
}

.px-50 {
    padding-left: 50px;
    padding-right: 50px;
}

.pt-70 {
    padding-top: 70px;
}

.pb-70 {
    padding-bottom: 70px;
}

.mh-0 {
    min-height: 0 !important;
}

.mw-p-120 {
    min-width: 120px !important;
}

.mw-p-150 {
    min-width: 150px !important;
}

.collection-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.left-0 {
    left: 0;
}

.top-0 {
    top: 0;
}

.right-0 {
    right: 0;
}
// 1__size
.h-100vh {
    height: 100vh;
}

.h-100{
    height: 100%;
}

.w-90 {
    width: 90%;
}

.p-cursor {
    cursor: pointer;
}

.h-align-center {
    margin-top: auto;
    margin-bottom: auto;
}

// 2 . border

.border-none {
    border: none;
}

.bdr-10 {
    border-radius: 10px;
}
.bdr-20 {
    border-radius: 20px;
}

.box-card {
    box-shadow: 5px 4px 20px rgba(31, 99, 169, 0.75);
}

.border-none {
    border: 0;
}

.rds-bottom-left {
    border-bottom-left-radius: 10px;
}
.rds-bottom-right {
    border-bottom-right-radius: 10px;
}

// 3. font-szie
.font-nomal {
    font-family: Helvetica 55 Roman;
    font-style: normal;
    font-weight: normal;
}

.text-12 {
    font-size: 12px;
}

.text-13 {
    font-size: 13px;
}

.text-15 {
    font-size: 15px;
}

.text-16 {
    font-size: 16px !important;
}

.text-21 {
    font-size: 21px;
}

.text-24 {
    font-size: 24px;
}

.text-31 {
    font-size: 31px;
}
.text-48 {
    font-size: 48px;
}

.text-54 {
    font-size: 54px;
}

.opacity-1 {
    opacity: 1;
}
// 4. background

.bgr-pagi {
    background-color: #39364c;
}
.bgr-blue {
    background: rgb(16, 36, 55) !important;
}
.bgr-danger {
    background-color: #eb5757;
}
.bgr-dash {
    background: #142D45;
}

.bgr-white {
    background: #fff;
}

.bgr-special {
    background: #1D3752 !important;
}

img {
    width: 100%;
    height: 100%;
}
// 5. color

.cl-blue {
    color: #50BFC3;
}

.cl-white {
    color: #ffffff;
}

.cl-pending {
    color: #c7a748;
}

.cl-success {
    color: #3fc2bb;
}

.cl-error {
    color: #EB5757;
}

.cl-light-blue {
    color: #34AEC3;
}

.config-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.text-responsive-title {
    font-size: 16px;
}

.modal-dialog {
    max-width: 600px;
    top: 0;
    left: 0;
    margin: 0 auto;
}

.text-button {
    font-size: 12px !important;
}

@media (max-width: 425px) {
    .px-70 {
        padding-left: 45px;
        padding-right: 45px;
    }
}

@media (min-width: 768px) {
    .config-container {
        width: 750px;
    }
    .text-responsive-title {
        font-size: 22px;
    }
    .modal-dialog {
        max-width: 600px;
        top: 10%;
        left: 0;
        bottom: 0;
        right: 0;
        margin: 0 auto;
    }
    .text-button {
        font-size: 15px !important;
    }
    .px-80 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .opacity-md-1 {
        opacity: 1;
    }
}
@media (min-width: 992px) {
    .config-container {
        width: 970px;
    }
    .text-lg {
        &-31 {
            font-size: 31px;
        }
        &-21 {
            font-size: 21px;
        }
        &-18 {
            font-size: 18px;
        }
    }
    .pt-header {
        padding-top: 95px!important;
    }
}

@media (min-width: 1200px) {
    .config-container {
        width: 1170px;
    }
    .px-80 {
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
    // .pt-header {
    //     padding-top: 0!important;
    // }
    .px-50, .px-55 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .py-5 {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
    .text-16-mobile {
        font-size: 16px !important;
    }
    .text-12-mobile {
        font-size: 12px !important;
    }
    .mw-20-mobile {
        max-width: 20px;
    }
    .w-20-mobile {
        width: 100%;
    }
}