::-webkit-calendar-picker-indicator { background: #312e44; }

.form-control {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.form-control {
    &:disabled {
        color: #fff;
        background: unset !important;
        opacity: unset !important;
    }
    &:focus, &:active {
        outline: 0 !important;
        box-shadow: none !important;
    }
}

.form-control:focus{
    background-color : #214d72;
}

.align-items-center{
    display: flex;
    align-items: center;
}

.span-status-custom{
    color: white;
}

.btn{
    &:hover{
        box-shadow: 0px 5px 20px rgba(117, 255, 230, 0.6);
    }
}
.btn.disabled{
    background: #25243A;
    pointer-events: none;
}

.gl-custom-border {
    border: 1px solid #34AEC3;
    border-radius: 10px;
    text-transform: capitalize;
    color: #50BFC3;
    cursor: pointer;
    overflow: hidden;
    & .active {
        background: #50BFC3;
        color: #fff;
    }
}
.min-h-100vh {
    min-height: 100vh;
}
.min-h-cc {
    min-height: unset!important;
}
.gl-btn-auth {
    background: #34AEC3;
    color: #fff;
    height: 50px;
}
.gl-btn-send {
    background: #34AEC3;
    color: #fff;
    font-weight: bold;
    max-width: 200px;
    height: 50px;
    padding-left: 4.5rem !important;
    padding-right: 5rem !important;
    text-align: center;
}
.gl-btn-setting {
    background: #34AEC3;
    color: #fff;
    font-weight: bold;
    height: 50px;
}
.login .gl-btn-auth {
    max-width: unset !important;
}
.gl-scroll-x {
    overflow-x: scroll;
}
.gl-hidden-x {
    overflow-x: hidden;
}
.overflow-hidden {
    overflow: hidden;
}
.gl-user-header {
    position: absolute;
    right: 40px;
    top: 10px;
    z-index: 10;
    align-items: center;
    cursor: pointer;
    .avatar {
        width: 50px!important;
        height: 50px!important;
    }
    &__dropdown {
        position: absolute;
        z-index: 999;
        top: 100%;
        right: 0;
        background: #1D3752;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        color: #fff;
        display: none;
        min-width: 180px;
        text-transform: capitalize;
        overflow: hidden;
        .items {
            display: flex;
            justify-content: space-around;
            padding: 40px;
        }
        .items:hover {
            background: #50BFC3;
            opacity: 1;
        }
    }
    &:hover {
        .gl-user-header__dropdown {
            display: block;
        }
    }
}
.gl-setting-input {
    border-radius: 10px;
    background: #214D72!important;
    padding: 10px 15px;
    border: none;
    // margin: 5px 0 20px;
    color: #fff!important;
    &::-webkit-inner-spin-button {
        display: none;
        -webkit-appearance: none;
    }
}
.gl-setting-title {
    font-size: 16px;
    color: #fff;
    opacity: .5;
    margin: 16px 0 8px;
}
.gl-setting-qrcode, .qrcode {
    width: 200px;
    height: 200px;
}
.gl-special-bg {
    background: #3F4260!important;
}
.gl-cus-dropdown {
    position: relative;
    padding: 10px 15px;
    background: #1D3752;
    border-radius: 20px;
    min-width: 180px;
    cursor: pointer;
    .icon {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
    &:hover &__content {
        display: block;
    }
    &__content {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        min-width: 180px;
        background: #1D3752;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        z-index: 999;
        overflow: hidden;
        .items:hover {
            background: #50BFC3;
        }
    }
}
.text-danger {
    color: #FBBF23 !important;
}

.gl-cus-dropdown-min{
    @extend .gl-cus-dropdown;
    padding: 0px;
    background: none;
}

.devider{
    border: 0.5px solid #50BFC3;
}

.gl-cus-dropdown-min__content{
    @extend .gl-cus-dropdown__content;
    top: unset;
    right: unset;
    min-width: unset;
    bottom: 25px;
    left: 143px;
}

.cse-send-form-custom{
    .title-info{
        max-width: 115px;
        font-size: 16px;
        line-height: 19px;
    }
    .form-dropdown{
        background: #214D72;
        border-radius: 10px;
        width : 480px;
    }

    .form-qr-code{
        @extend .form-dropdown;
    }

    .send-ammonunt-input{
        @extend .form-dropdown;
    width : 205px;;
    }
    .trade-icon{
        padding: 0px 8px 0px 8px;
    }
    .cse-text-fee{
        width: 205px;
        text-align: left;
        margin-top: 25px;
    }
    .cse-title-fee{
        margin-top: 25px;
    }
    .cse-send-button{
        max-width : 275px;
    }
    .spacing-qrcode{
        background: #FFFDFD;
        border-radius: 10px;
        padding: 15px 20px 15px 20px;
        width: max-content;
    }
}

.cse-mobile-send-form-custom{
    .form-qr-code{
        height: 46px !important;
        background: #214D72;
        border-radius: 27px;
    }
    .disabled{
        // background: #142D45;
        // box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25);
        border-radius: 27px;
    }
    input{
        @extend .form-qr-code;
    }
    .mobile-title-info{
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;
    }
    .spacing-qrcode{
        background: #FFFDFD;
        border-radius: 10px;
        padding: 16px 21px 16px 21px;
        width: max-content;
        .qrcode{
            width: 100%;
            height: auto;
            img{
                width : 252px;
                height: 252px;
            }
        }
    }
    .cse-receive-button{
    }
    .cse-send-button{
    }
}

.Toastify__toast--default{
    background: #312E44 !important;
    color: white !important;
    border-radius: 10px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

@media (min-width: 768px) {
    .gl-chart {
        background: linear-gradient(180deg, #1C3755 0%, rgba(56, 54, 71, 0.1) 98.24%);
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.10);
        border-radius: 10px;
        border: 1px solid #1D3752;
    }
}

@media (max-width: 768px) {
    .pt-4, .py-4 {
        padding-top: 0.5rem !important;
    }
    .not-display-mobile {
        display: none !important;
    }
    .text-center-mobile {
        text-align: center !important;
    }
    .gl-setting-input, .login-input {
        border-radius: 27px;
        font-size: 14px;
        height: 44px !important;
    }
    .gl-setting-title, .gl-form-title {
        font-size: 14px !important;
    }
    .gl-cus-dropdown-min{
        display: none;
    }
    .history-table-loading{
        left: 42% !important;
    }
}